.header {
  text-align: center;
  margin: 2rem 0;
  color: white;
  padding: 2rem;
  background: linear-gradient(to bottom right, #3a6073, #16222a);
  border-radius: 20px;
  position: relative;
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.textLeft,
.textRight {
  color: white;
  font-size: 1.1rem;
  text-align: left;
}

.textLeft p,
.textRight p {
  margin: 0.5rem 0;
}

.smartphoneContainer {
  display: flex;
  justify-content: center;
}

.smartphoneImage {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.getStartedButton {
  background-color: #ff7f00;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.getStartedButton:hover {
  background-color: #e06700;
}

.card {
  background: #243b55;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 2rem 0;

  display: none;
}

.steps {
  text-align: center;
  margin: 2rem 0;
  background: #243b55;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stepItems {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.stepItem {
  display: inline-block;
  margin: 1rem;
  background: #feab57;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  background: #1d2d38;
  color: white;
  margin-top: 2rem;
}
